  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  nav{
    display: flex;
    height: 80px;
    background: rgb(7, 2, 55);
    color:white;
    justify-content: space-between;

  }
  nav div{
    display: flex;
    gap:20px;
    padding: 20px 20px;
  }
  nav div p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: bold;
  }
nav ul{
    display : flex;
    list-style: none;
    gap: 50px;
    padding: 20px 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}
nav ul li a:hover{
    color: blue;
}
.hero{
    background: url(images/Oromia.jpg) no-repeat center center/cover;
    height: 520px;
    position: relative;
    width: 100%;    
}
.hero h2{
padding: 80px 0px 20px 50px;
}
.hero h2:last-child{
    padding:60px 0px 10px 70px ;
}
.hero p{
padding:0px 0px 10px 70px ;
}
button{
position: absolute;
left: 40%;
top: 70%;
font-size: 22px;
font-weight: 520;
padding: 15px 120px;
background: #fff;
border:none;
border-radius: 30px;
}
button:hover{
    background: black;
    color: #fff;
}
.logo p:hover{
    text-shadow:0px 0px 20px rgb(168, 162, 162), 0 0 20px rgb(168, 162, 162);
}

