:root{
    --dark-black : #000;
    --black-blue : rgb(1, 1, 81);
    --blue-pink-glows : linear-gradient(to right , #35e0f7, #9a55f5,#ede8f3);
    --cyan-color: rgb(0, 255, 255);
    

}
*{
    margin : 0px;
    padding : 0px;
    box-sizing: border-box;
    font-size: 10px; 
    /* border: 1px solid red; */
}
h1,h2,a,li{
background: var(--blue-pink-glows);
    background-clip: text;
    color:transparent;
}
h1{
    font-size: 5rem;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;  
}
a{
    text-decoration: none;
    font-weight: 700;
    font-size: 2.2rem;
}
h2{
    font-size: 3rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
  color: #4dd9f5;
  font-size: 2rem;
  line-height: 2.5rem;  
}

button,.btn{
    background-color: black;
    color: var(--cyan-color);
    width: 55%;
    font-size: 2.5rem;
    font-weight: 500;
    padding: 3%;
    border-radius: 3rem;
    border: 1px solid var(--cyan-color);
    animation: btnglow 2s linear infinite;
    animation-direction: alternate;
}
@keyframes btnglow{
    0%{
        box-shadow:0 0 0 var(--cyan-color) ;
    }
    100%{
        box-shadow:0 0 2rem var(--cyan-color),0 0 2rem var(--cyan-color) ;
    }
}
button:hover,.btn:hover{
    color:black;
    background: var(--cyan-color);
}
button:active,.btn:active{
    color: blue;
}
/*hero-section*/
.hero{
    width: 100%;
    background:var(--dark-black);
    color:white;
}
.hero .container{
    justify-self:center;
    width: 90%;
}
.hero nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    margin-bottom: 10vh;
}
.hero nav .logo{
    width: 20%;
    display: flex;
    gap:2%;
    align-items: center;
}
.hero nav .logo img{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    object-fit: cover;
}
.hero nav ul{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0% auto;
}
.hero nav ul li{
    list-style: none;
    
}
.hero nav ul li a:hover{
color: rgb(39, 242, 195);
}
.hero nav ul li a:active{
    color: blue;
}
.hero .mid{
    text-align: center;
    padding: 4% 0;
}
.hero .last{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   padding: 2.5% 0;
}
.hero .last .left{
    width: 540px;  
}
.hero .last .in_left{
width: 500px;
}
.hero .last .in_left h2{
  padding: 2% auto;
  line-height: 4rem;
}
.hero .last .in_left button{
    margin-top: 10%;
}
.hero .last .right{
    width: 540px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 1rem;
}
.hero .last .imgcontainer{
    width: 90%;
    height: 300px;
    display: flex;
    align-items:center ;
    justify-content: center;
}
.hero .last .imgcontainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
   animation: motion 2s linear infinite; 
    animation-direction : alternate;
}
@keyframes motion{
    0%{
        width:100%;
        height:100%;
    }
    100%{
  width: 85%;
  height:85%;      
    }
}
/*about-section*/
.about{
    background: var(--black-blue);
    width: 100%;
    
}
.about .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-self:center;
    width: 90%;
    padding: 3% 0;
     
}
.about .container .left{
    width: 540px;
}
.about .container .right{
    width: 540px;

}
.about .container .imgcon{
    height: 95%;
    width: 100%;
    justify-self:center;
    align-self: center;
    margin: 2.5% auto;
}
.about .container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about .container h1,
.about .container h2{
 padding: 2% 1%;
}
.about .container p{
 padding: 2% 2%;
 text-align: justify;
}
.about .container button{
 margin: 7% 20%;
}
/*development section*/
.development{
    width: 100%;
    background: var(--dark-black);
}
.development .container{
    justify-self:center;
    width: 90%;
}
.development .container .devtitle{
 text-align: center;
 padding: 2% 0;
}
.development .container .boxs{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}
.development .container .box{
    border-radius: 3rem;
    height: 40rem;
    width: 400px;
    background: var(--black-blue);
    margin-bottom: 4rem; 
}
.development .container .box .in_box{
    width: 100%;
    border-radius: 3rem;
}
.development .container .box:hover{
    background-color:rgb(3, 3, 156) ;
}
.development .container .box h2{
    text-align: center;
}
.development .box .icon{
    justify-self: center;
    padding: 2%;
    margin-bottom:2%;
}
.development .box .subtitle{
    padding: 5% 1%;
}
.development .box .describe{
padding: 3% 2%;
text-align: justify;
}
/*skill-section*/
.skill{
 width: 100%;
 background: var(--black-blue); 
}
.skill .container{
    width: 90%;
    justify-self: center;
}
.skill .container .tittleskill{
    text-align: center;
    margin-bottom: 2rem;    
}
.skill .container .tittleskill h1{
 padding: 2rem;
}
.skill .container .skill-content{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.skill .container .left{
    width: 550px;
    margin-bottom: 3rem;
}
.skill .container .left .skillcontainer{
  background-color: black;
  width:  100%;
  height: 50rem;;
  padding:5%  5%;
  border-radius: 3rem;
  justify-self: center;
  align-self: center;
}
.skill .left .skillcontainer .in_skill{
    height: 100%;
    display: grid;
    border-radius: 3rem;
}
.skill .skillcontainer  li{
    width:70%;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5%;
    margin-left:10%;    
}
.skill .skillcontainer h2{
    text-align: center;
}
.skill .skillcontainer  li h3{
    font-size: 2.7rem;
}
.skill .skillcontainer .in_skill .bars{
    width: 100%;
    height: 5px;
    background-color:blue;
    border-radius:30px ;
}
.skill .in_skill .bars span{
    background: linear-gradient(to right, cyan, rgb(221, 238, 246));
    float: left;
    height: 5px;
    border-radius: 30px;
}
.html{
    width: 90%;
}
.css{
    width: 80%;
}
.js{
    width: 40%;
}
.php{
    width: 30%;
}
.sql{
    width:55%;
}
.skill .right{
  width: 550px;
  margin-bottom: 3rem;     
}
.skill .right .projectContainer{
    background-color: #000;
    height: 50rem;
    justify-self: center;
    border-radius: 3rem;
    display: grid;
    gap:2rem;
    text-align: center;
}
.skill .right .projectContainer p{
  text-align: justify;
}
.skill .right .projectbox{
    background: var(--black-blue);
    width: 80%;
    height: 10rem;
    border-radius: 3rem;
    margin: 0 auto;
    padding: 2%;
}
.skill .right .projectbox:hover{
    box-shadow: 0 0 1rem cyan;
     background-color:rgb(3, 3, 156) ;
    width:85%;
    height: 11rem;
}
/* footer section */
footer {
background: var(--dark-black);
width: 100%;
}
footer .container{
    width:90%;
    justify-self:center;

}
footer .container .links{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 2%;
}
footer .container .conctitle{
    text-align: center;
    padding: 3% 0;
    margin-bottom: 3%;
}
footer .container h2{
    padding: 3% 0;
    text-align: center;
}
footer .container .socialmed{
    width:350px;
}
footer .container .quicklink{
    width:350px;
}
footer .container .contact{
    width:450px;
}
footer .container ul{
    display: grid;
    align-items: center;
    gap: 2rem;
    text-align: justify;
    margin-left: 2rem;
}
footer .container ul li{
    display: flex;
    align-items: center;
    list-style: none;
}
footer .container ul li a:hover{
color:#35e0f7;
}
footer .container .BOX{
   border: 1px solid cyan;
   margin-left: 2rem;
   margin-bottom: 3rem;
}
footer .container .socialmed li a{
    display: flex;
    align-items: center;
    gap: 1rem;
}
footer .container .contact .inp{
    width: 70%;
    height: 6rem;
    border-radius: 3rem;
    margin: 2rem auto;
    padding: 0 1rem;
    display: block;
    font-size: medium;
    border: none;
}
footer .container .contact p{
    display: flex;
    align-items: center;
    gap:1rem;
    margin-left: 2rem;
}
footer .container img{
    width: 15%;
    height: 15%;
}
footer .container .contact .btn{ 
   margin: 5% 20%;
}
footer .container .last{
     text-align: center;
     padding: 3rem 0;
}
@media (max-width:740px){
    html{
        font-size: 7px;
    }
    a{
    
    font-size: 1.6rem;
}
    .hero nav{
        width: 355px;
    }
    .hero nav .log{
    width: 25%;
    }
    .hero nav .log h2{
    font-size: 2.4rem;
    }
    .hero nav .logo img{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    object-fit: cover;
}
    .hero nav ul{
    width: 70%;
    }
    .container{
        justify-self: center;
    }
      
.hero .last .left{
    width: 355px; 
}
.hero .last .in_left{
width: 345px;
}
}
@media (max-width: 1200px){
    .container{
        justify-self: center;
    }
      
}
