*{
    padding:0;
    margin:0;
}
body{
    font-size: 20px;
    font-family: sans-serif;
}
img{
    max-width: 100%;
}
.header-wrapper{
    background-color: black;
    padding: 10px;
    font-weight: 200;
    font-size: 0.75em;
}
.header-wrapper ul{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.header-wrapper .internal-wrapper{
    width: 980px;
    padding: 0 10px;
    margin: 0 auto;
}
.header-wrapper .header-links-wrapper ul{
    list-style: none;
}
.header-wrapper .header-links-wrapper ul li{
    display: inline;
    padding: 14px 0 8px;
    height: 25px;
    opacity: 0.8;;
}
.header-wrapper .header-links-wrapper ul li a{
text-decoration: none;
color:#fff;
}
.header-wrapper .header-links-wrapper ul li:hover{
    opacity: 1;
}
.logo-link, .search-link, .cart-link{
    width: 18px;
    display: block;
}
.header-wrapper .header-links-wrapper ul li.logo-link{
    padding: 12px 0 10px;
}
.header-wrapper .header-links-wrapper ul li.search-link{
    padding: 14px 0 10px;
}
.header-wrapper .header-links-wrapper ul li.cart-link{
    padding: 12px 0 10px;
}
.footer-wrapper{
    background-color: #f5f5f7;
    color:#1d1d1f;
    font-size:0.65em;
}
.upper-text-container{
 border-bottom: 1px solid #d2d2d7;
 color: #868686;
 padding: 16px 0 20px;
}
.upper-text-container a{
    text-decoration: none;
    color: #515154;
}
.upper-text-container a:hover{
    text-decoration: underline;
}
.footer-wrapper ul{
    list-style: none;
    padding-bottom: 20px;
}
.footer-wrapper ul li {
    font-size: 0.9em;
    padding: 5px 0;
}
.footer-links-wrapper a{
color: #515154;
text-decoration: none;
}
.footer-links-wrapper a:hover{
    text-decoration: underline;
}
 .footer-links-wrapper{
    display: flex;
}
.font-links-wrapper h3{
font-size: 12px;
font-weight: 600;
}
.my-apple-wrapper{
    border-bottom: 1px solid #d2d2d7;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.copyright-wrapper{
    display:flex;
    -webkit-box-pack: justify;
    justify-content: space-around;
    padding: 10px 0 20px;
}
.footer-links-terms ul li{
display: inline-block;
padding: 0.3px;
border-right: 1px solid #ccc;
}
.footer-links-terms ul li:last-child{
    border-right: 0px;
}
.footer-links-terms ul li a{
    text-decoration: none;
    color:#525254;

}
.footer-links-terms ul li a:hover{
    text-decoration: underline;
}
.footer-country{
    display:inline-block;
}
.flag-wrapper{
    display: inline-block;
    vertical-align: middle;
}
.footer-country-name{
    display:inline-block;
    vertical-align: top;
}
/*main-highlight*/
.main-highlight-wrapper{
    background:#fafafa ;
    text-align: center;
    padding: 25px auto;

}
.links-wrapper ul{
list-style: none;
}
.model{
    font-size: .85em;
}
.product-tittle{
    font-weight: 700;
    font-size:56px;
}
.brief-description{
    font-size: 28px;
}
.links-wrapper{
    padding: 15px 0;
}
.main-highlight-wrapper .links-wrapper ul li{
    display: inline-block;
    margin-right: 20px;
}
.main-highlight-wrapper .links-wrapper ul li a{
    color:#06c;
    text-decoration: none;
}
.links-wrapper ul li a:hover{
    color:000;
}
 .links-wrapper ul li a:after{
    font-family: "FontAwesome" sans-serif;
    font-family: 900;
    content:">";
    padding-left: 10px;
}
.second-highlight-wrapper{
    background-image: url(/Resourse/home/iphone11-pro-bg.jpg);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 65px 20px;
    color:#fff;
}
.tittle-wrapper{
    font-weight: 600;
    font-size: 56px;
}
.description-wrapper{
    font-size: 26px;
    padding: 10px 0;
}
.price-wrapper{
    color: #868686;
    font-size: 0.05px;
}
.third-highlight-wrapper{
    background-image: url(/Resourse/home/iphone11-bg.jpg);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 65px 20px;
}
.fourth-highlight-wrapper{
display:flex;
-webkit-box-pack: justify;
justify-content: space-between;
background: #fff;
}
.left-side-wrapper{
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 48.5%;
    margin: 1% 1% 0% 0.5%;
    padding-top: 54px;
}
.fourth-highlight-wrapper .left-side-wrapper{
    background-image: url(/Resourse/home/watch-series-5.jpg);
}
.right-side-wrapper{
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 48.5%;
    margin: 1% 1% 0% 0.5%;
    padding-top: 54px;
}
.fourth-highlight-wrapper .right-side-wrapper{
    background-image: url(/Resourse/home/apple-card.jpg);
}

.description-wrapper{
    max-width: 430px;
    margin: 0 auto;
    padding: 10px;
}
.fifth-highlight-wrapper{
display:flex;
-webkit-box-pack: justify;
justify-content: space-between;
background: #fff;
}
.fifth-highlight-wrapper .left-side-wrapper{
    background-image: url(/Resourse/home/apple-tv-background.jpg);
}
.fifth-highlight-wrapper .right-side-wrapper{
    background-image: url(/Resourse/home/air-pods.jpg);
    color: #fff;
    background-size: initial;
    background-color: #000;
    background-position: bottom;
}
.logo-wrapper{
    font-size: 48px;
    font-weight: bold;
}
.tvshow-logo-wrapper{
    padding:100px 0 200px;
}
.watch-more-wrapper a{
     text-decoration: none;
     font-size: 0.85em;
}
.watch-more-wrapper a:after{
    font-family: sans-serif;
    font-weight: 900;
    content: "\f144";
    padding-left:15px;
}
.sixth-highlight-wrapper{
display:flex;
-webkit-box-pack: justify;
justify-content: space-between;
background: #fff;
}
.sixth-highlight-wrapper .left-side-wrapper{
    background-image: url("/Resourse/home/macbook-pro.jpg");
    background-size: initial;
    background-position: bottom;
}
.sixth-highlight-wrapper .right-side-wrapper{
    background-image: url("/Resourse/home/macbook-pro.jpg"); 
}

